ion-item {
    --ion-font-size: 18px; /* Adjust the font size as needed */
  }
  
  ion-label h2 {
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold;
  }
  
  ion-label p {
    margin-top: 1rem;
    font-size: 16px; /* Adjust the font size as needed */
  }
  