<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Home</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-img src="assets/images/santa-luzia.jpg" class="image-circle"></ion-img>
    <ion-title class="title">Viana do Castelo</ion-title>
    <ion-text>
      Viana do Castelo é uma cidade portuguesa, capital do distrito com o mesmo nome, na região do Norte, e integrada na sub-região NUT III do Alto Minho.
    </ion-text>
  </div>
</ion-content>
